{% extends "dashboard/layouts/base.html" %}

{% block sidebar %}
<h3>Founder Console</h3>
<hr style="border-color:#333">

<ul style="list-style:none; padding:0;">
    <li><a href="/founder/" style="color:#fff;">Overview</a></li>
    <li><a href="/dashboard/" style="color:#fff;">Projects</a></li>
    <li><a href="/metrics" style="color:#fff;">Metrics</a></li>
    <li><a href="/admin/" style="color:#fff;">Admin</a></li>
    <li><a href="/logout/" style="color:#fff;">Logout</a></li>
</ul>
{% endblock %}